@font-face {
     font-family: 'YD YGO550';
     src: url('../font/YD_YGO550.eot');
     src: url('../font/YD_YGO550.eot?#iefix') format('embedded-opentype'),
          url('../font/YD_YGO550.woff') format('woff'),
          url('../font/YD_YGO550.TTF') format('truetype');
     font-weight: normal;
     font-style: normal;
}
@font-face {
	font-family: 'Superstar';
	src: url('../font/Superstar_M54.eot');
	src: url('../font/Superstar_M54.eot?#iefix') format('embedded-opentype'),
		 url('../font/Superstar_M54.woff') format('woff'),
		 url('../font/Superstar_M54.TTF') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* =================================================
	* Common
================================================= */
html{overflow:hidden;height:100%;background:#fff;}
body{position:fixed;top:0;left:0;overflow:hidden;width:100%;height:100%;background:url('../images/img_bg.jpg') no-repeat center center;background-size:cover;font-family: 'YD YGO550', sans-serif;}
.blind{position:absolute;overflow:hidden;clip:rect(0 0 0 0);margin:-1px;width:1px;height:1px;}
.fr{float:right;}
.fl{float:left;}
.fn{float:none;}
.bold{font-weight:bold;}
.tl{text-align:left !important;}
.tc{text-align:center !important;}
.tr{text-align:right !important;}
.bx-wrapper,
.bx-viewport,
.bx-viewport ul,
.bx-viewport ul li{height:100% !important;}
.bx-viewport li { min-height:1px;min-width:1px; }
*{-webkit-tap-highlight-color:rgba(255,255,255,0);}


/* =================================================
	* Header
================================================= */
#header{position:fixed;top:0;left:0;z-index:10;width:100%;height:55px;padding:12px 16px;box-sizing:border-box;}
#header h1{position:absolute;top:13px;left:20px;}
#header h1 img{display:block;width:47px;height:40px;}
#header .btn_infomation{display:block;overflow:hidden;position:absolute;top:20px;right:20px;width:30px;height:30px;background:url('../images/img_info.png') no-repeat center center;background-size:100% 100%;text-indent:-9999em;}
#header .btn_target{display:block;overflow:hidden;position:absolute;top:20px;right:60px;width:30px;height:30px;background:url('../images/img_target.png') no-repeat center center;background-size:100% 100%;text-indent:-9999em;}
#header span{display:block;padding-top:12px;font-size:14px;color:#353535;text-align:center;}


/* =================================================
	* Container
================================================= */
#wrap{overflow:hidden;height:100%;}
#container{overflow-x:hidden;overflow-y:auto;height:100%;-webkit-overflow-scrolling:touch;}
.btn{display:block;position:absolute;bottom:30px;left:50%;z-index:2;width:300px;margin-left:-150px;}
.btn img{display:block;width:100%;transition:.3s ease-in-out;}
.loadend .btn:active img{opacity:0;}
.loadend .btn:active .btn-hover{opacity:1;}
.loadend .btn img{animation:bounce .6s ease-out;}
.btn-hover{position:absolute;top:0;left:0;opacity:0;}
.loadend .btn .btn-hover{position:absolute;top:0;left:0;opacity:0;}
@keyframes bounce {
	0% {transform:scale(0,0);}
	60% {transform:scale(1.1,1.1);}
	70% {transform:scale(.9,.9);}
	90% {transform:scale(1.1,1.1);}
	100% {transform:scale(1,1);}
}
.canvas-wrp{position:fixed;top:0;left:0;z-index:1;width:100%;height:100%;}
.canvas-wrp img{display:block;width:100%;}
.main{padding-top:100px;}
.main .top-txt{position:relative;z-index:2;width:100%;margin:0 auto;}
.main .top-txt img{display:block;width:100%;}
.main .maker{position:absolute;bottom:105px;left:0;z-index:2;width:100%;text-shadow:0 0 4px rgba(0,0,0,.38);font-size:15px;color:#fff;text-align:center;}
.ready{position:relative;height:100%;min-height: 568px;padding:60px 0 170px;box-sizing:border-box;}
.ready .section{display:table;width:100%;height:100%;}
.ready .pic{display:table-cell;width:100%;vertical-align:middle;}
.ready .pic img{display:block;width:320px;margin:0 auto;}
.ready .txt{position:absolute;bottom:30px;left:0;z-index:2;width:100%;}
.ready .txt img{display:block;width:320px;margin:0 auto;}
.quiz{padding:105px 9% 0;}
.quiz dl{position:relative;z-index:2;}
.quiz dl dt{margin-bottom:5px;font-size:45px;color:#fff;text-shadow:0 0 4px rgba(0,0,0,.38);text-transform:uppercase;}
.quiz dl dd{font-size:26px;color:#fff;text-shadow:0 0 4px rgba(0,0,0,.38);letter-spacing:-2px;line-height:1.3;word-break:keep-all;word-wrap: break-word;}
.quiz .circle{position:absolute;top:54px;left:50%;z-index:2;width:45px;height:45px;margin-left:-22.5px;}
.quiz .circle:before{content:"";position:absolute;top:0;left:0;width:45px;height:45px;border:2px solid rgba(255,255,255,.5);border-radius:45px;box-sizing:border-box;}
.quiz .num{position:absolute;top:0;left:0;width:45px;font-size:25px;color:#fff;text-align:center;text-shadow:0 0 4px rgba(0,0,0,.38);line-height:45px;}
.quiz .parts{position:absolute;bottom:185px;left:0;z-index:2;width:100%;font-size:15px;color:#fff;text-shadow:0 0 4px rgba(0,0,0,.38);text-transform:uppercase;text-align:center;}
.quiz .parts em{display:inline-block;margin:0 3px;font-family: 'YD YGO550', sans-serif;}
.quiz .answer{position:absolute;bottom:40px;left:0;z-index:2;width:100%;font-size:0;text-align:center;}
.quiz .answer .btn_o{display:inline-block;overflow:hidden;width:140px;height:140px;background:url('../images/btn_o.png') no-repeat center center;background-size:100% 100%;border:0;text-indent:-9999em;outline:none;transition:.3s ease-in-out;}
.quiz .answer .btn_x{display:inline-block;overflow:hidden;width:140px;height:140px;margin-left:10px;background:url('../images/btn_x.png') no-repeat center center;background-size:100% 100%;border:0;text-indent:-9999em;outline:none;transition:.3s ease-in-out;}
.quiz .answer .btn_o.on{background-image:url('../images/btn_o_on.png');}
.quiz .answer .btn_x.on{background-image:url('../images/btn_x_on.png');}
.failed{padding-top:100px;}
.failed dl{position:relative;z-index:2;}
.failed dl dt{margin-bottom:24px;font-size:42px;color:#fff;text-shadow:0 0 4px rgba(0,0,0,.38);text-transform:uppercase;text-align:center;}
.failed dl dd{font-size:19px;color:#fff;text-shadow:0 0 4px rgba(0,0,0,.38);text-align:center;}
.failed dl dd span{display:block;margin-top:20px;}
.success{padding-top:100px;}
.success dl{position:relative;z-index:2;}
.success dl dt{margin-bottom:24px;font-size:42px;color:#fff;text-shadow:0 0 4px rgba(0,0,0,.38);text-transform:uppercase;text-align:center;}
.success dl dd{font-size:19px;color:#fff;text-shadow:0 0 4px rgba(0,0,0,.38);text-align:center;}
.success dl dd span{display:block;margin-top:20px;}
.custom{padding-top:65px;}
.custom .info_txt1{position:block;width:320px;margin:0 auto;}
.custom .info_txt1 img{display:block;width:320px;margin:0 auto;}
.custom .info_txt2{display:none;position:relative;z-index:2;}
.custom .info_txt2 img{display:block;width:320px;margin:0 auto;}
.custom .custom_wrp{display:none;position:absolute;bottom:-218px;left:0;z-index:3;width:100%;height:216px;padding:25px 0 28px;background:url('../images/bg_layer.png') repeat;border-top:1px solid rgba(0,0,0,.4);box-sizing:border-box;}
.custom .custom_menu{width:100%;}
.custom .custom_menu ul{font-size:0;text-align:center;}
.custom .custom_menu ul li{display:inline-block;position:relative;margin:0 11px;}
.custom .custom_menu ul li a{display:block;width:56px;height:80px;}
.custom .custom_menu ul li a img{display:block;width:100%;}
.custom .custom_menu ul li.disabled:after{content:"";position:absolute;top:0;left:0;z-index:2;width:100%;height:100%;}
.custom .custom_menu ul li.menu2.disabled a{background:url('../images/custom_main2_off.png') no-repeat center center;background-size:100% auto;}
.custom .custom_menu ul li.menu3.disabled a{background:url('../images/custom_main3_off.png') no-repeat center center;background-size:100% auto;}
.custom .custom_menu ul li.menu4.disabled a{background:url('../images/custom_main4_off.png') no-repeat center center;background-size:100% auto;}
.custom .custom_menu ul li.menu2.disabled a img{display:none;}
.custom .custom_menu ul li.menu3.disabled a img{display:none;}
.custom .custom_menu ul li.menu4.disabled a img{display:none;}
.custom .btn{z-index:4;}
.capture{position:relative;height:100%;padding:60px 0 125px;box-sizing:border-box;}
.capture .section{display:table;width:100%;height:100%;text-align:center;}
.capture .section .table{display:table-cell;vertical-align:middle;}
.capture p{position:relative;z-index:2;width:100%;margin-bottom:10px;}
.capture p img{ display:block;width:320px;margin:0 auto;}
.capture input[type="range"]{z-index:3;position:absolute;bottom: 75px;left: 50%;width:300px;height: 26px;margin: 0 0 0 -150px;background:transparent;-webkit-appearance: none;}
.capture input[type=range]:focus{outline: none;}
.capture input[type=range]::-webkit-slider-runnable-track {width: 100%;height: 13px;cursor: pointer;animate: 0.2s;box-shadow: inset 2px 2px 3px rgba(0,0,0,.2);background: #e93225;border-radius: 25px;border: 0px solid #000101;}
.capture input[type=range]::-webkit-slider-thumb {box-shadow: 0px 0px 0px #000000;border: 0px solid #000000;width:22px;height: 22px;border-radius: 10px;background:url('../images/img_range.png') no-repeat center center;background-size:100% 100%;cursor: pointer;-webkit-appearance: none;margin-top: -4.5px;box-shadow:2px 2px 3px rgba(0,0,0,.2);}
.capture input[type=range]:focus::-webkit-slider-runnable-track {background: #AC51B5;}
.capture input[type=range]::-moz-range-track {width: 100%;height: 13px;cursor: pointer;animate: 0.2s;box-shadow: 0px 0px 0px #000000;background: #AC51B5;border-radius: 25px;border: 0px solid #000101;}
.capture input[type=range]::-moz-range-thumb {box-shadow: 0px 0px 0px #000000;border: 0px solid #000000;height: 20px;width: 39px;border-radius: 7px;background: #65001C;cursor: pointer;}
.capture input[type=range]::-ms-track {width: 100%;height: 13px;cursor: pointer;animate: 0.2s;background: transparent;border-color: transparent;color: transparent;}
.capture input[type=range]::-ms-fill-lower {background: #AC51B5;border: 0px solid #000101;border-radius: 50px;box-shadow: 0px 0px 0px #000000;}
.capture input[type=range]::-ms-fill-upper {background: #AC51B5;border: 0px solid #000101;border-radius: 50px;box-shadow: 0px 0px 0px #000000;}
.capture input[type=range]::-ms-thumb {margin-top: 1px;box-shadow: 0px 0px 0px #000000;border: 0px solid #000000;height: 20px;width: 39px;border-radius: 7px;background: #65001C;cursor: pointer;}
.capture input[type=range]:focus::-ms-fill-lower {background: #AC51B5;}
.capture input[type=range]:focus::-ms-fill-upper {background: #AC51B5;}
.capture .btn_wrp{position:absolute;bottom:20px;left:0;z-index:2;width:100%;font-size:0;text-align:center;}
.capture .btn_wrp .btn{position:relative;left:auto;bottom:auto;display:inline-block;width:150px;height:45px;margin-left:0;text-transform:uppercase;color:#323232;}
.capture .btn_wrp .btn + .btn{margin-left:10px;}
.capture .pic{width:100vw;height:100vw;padding:4px;background:url('../images/img_capture.png') no-repeat center center;background-size:100% 100%;box-sizing:border-box;}

.capture .pic img{display:block;width:100%;}
.share{overflow-y:auto;position:relative;height:100%;min-height:555px;padding:60px 0 155px;box-sizing:border-box;}
.share .section{display:table;width:100%;height:100%;text-align:center;}
.share .section .table{display:table-cell;vertical-align:middle;}
.share .pic{width:256px;height:256px;margin:0 auto;border:1px solid #e6483c;}
.share .pic img{display:block;width:100%;}
.share p{width:100%;margin-top:20px;font-size:16px;color:#424242;text-align:center;}
.share p img{display:block;width:256px;margin:0 auto;}
.share .btn{bottom:90px;width:280px;height:45px;margin-left:-140px;text-transform:uppercase;color:#323232;}
.share .btn + .btn{bottom:40px;}
.share .btn_back{position:absolute;bottom:20px;left:50%;width:70px;margin-left:-35px;}
.share .btn_back img{display:block;width:100%;}
.share .notice{display:block;width:100%;font-size:12px;color:#868686;text-align:center;}
.admin{display:table;position:relative;width:100%;height:100%;min-height:500px;padding:60px 0 85px;box-sizing:border-box;}
.admin .section{display:table-cell;vertical-align:middle;}
.admin .txt_top{margin-bottom:55px;}
.admin .txt_top img{display:block;width:220px;margin:0 auto;}
.admin .box{width:300px;margin:0 auto;}
.admin .box ul li{position:relative;margin-bottom:9px;padding-left:140px;}
.admin .box ul li:last-child{margin-bottom:0;}
.admin .box ul li:nth-child(3){margin-bottom:0;}
.admin .box ul li strong{position:absolute;top:0;left:0;width:140px;height:40px;font-size:19px;text-align:left;}
.admin .box ul li strong img{display:block;width:92%;}
.admin .box ul li strong .btn_join{display:block;overflow:hidden;position:absolute;bottom:0;left:0;width:140px;height:18px;text-indent:-9999em;}
.admin .box ul li .insert input{width:100%;height:40px;padding:5px 10px;border:1px solid #e93225;box-sizing:border-box;-webkit-appearance: none;border-radius: 0;font-size:14px;color:#e93225;font-family: 'YD YGO550', sans-serif;text-align:center;}
.admin .box ul li .insert input::placeholder{color:#e93225;}
.admin .box ul li .insert input.phone_number{ime-mode:disabled;}
.admin .box ul li .insert select{width:100%;height:34px;border:0;box-sizing:border-box;font-family: 'YD YGO550', sans-serif;text-align:center;}
.admin .box ul li .insert.select-box{position:relative;}
.admin .box ul li .insert.select-box .txt{position:relative;width:100%;height:34px;padding:7px 20px 0;background:#fff;border:0;box-shadow:inset 2px 2px 2px rgba(0,0,0,.1);box-sizing:border-box;font-size:14px;color:#000;text-align:center;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.admin .box ul li .insert.select-box .txt:after{content:"";position:absolute;top:50%;right:10px;width:9px;height:6px;margin-top:-3px;background:url('../images/btn_down.png') no-repeat center center;background-size:100% 100%;}
.admin .box ul li .insert.select-box select{position:absolute;top:0;left:0;z-index:2;width:100%;height:100%;opacity:0;filter:alpha(opacity=00);}
.admin .box .chk{position:relative;overflow:hidden;padding-top:31px;}
.admin .box .chk label{display:block;position:relative;height:20px;margin-bottom:10px;padding-left:20px;font-size:13px;color:#717171;letter-spacing:-1px;line-height:24px;}
.admin .box .chk label:before{content:"";position:absolute;top:50%;left:0;width:20px;height:20px;margin-top:-10px;background:#fff;border:1px solid #e93225;}
.admin .box .chk label img{display:block;width:100%;}
.admin .box .chk input:checked + label:before{background:url('../images/btn_chk.jpg');background-size:100% 100%;}
.admin .box .chk input{position:absolute;top:0;left:-9999em;width:1px;height:1px;opacity:0;}
.admin .box .chk .collect_agree{position:relative;height:20px;margin-bottom:10px;padding-left:20px;}
.admin .box .chk .collect_agree:before{content:"";position:absolute;top:50%;left:0;width:20px;height:20px;margin-top:-10px;background:#fff;border:1px solid #e93225;}
.admin .box .chk .collect_agree img{display:block;width:100%;}
.admin .box .chk .collect_agree.on:before{background:url('../images/btn_chk.jpg');background-size:100% 100%;}
.admin .box ul li.address{padding-left:0;}
.admin .box ul li.address strong{display:block;position:static;}
.admin .box ul li.address input{width:100%;height:40px;margin-top:6px;padding:5px 10px;border:1px solid #e93225;box-sizing:border-box;-webkit-appearance: none;border-radius: 0;font-size:14px;color:#e93225;font-family: 'YD YGO550', sans-serif;text-align:center;}
.admin .box ul li.address input::placeholder{color:#e93225;}
.admin .box ul li.address input:disabled{background:#fff;opacity:1;}
.admin .box ul li.address .search_add{position:relative;padding-right:120px;}
.admin .box ul li.address .search_add input{margin-top:0;}
.admin .box ul li.address .search_add a{position:absolute;top:0;right:0;width:112px;height:40px;}
.admin .box ul li.address .search_add a img{display:block;width:100%;height:100%;transition:.2s ease-in-out;}
.admin .box ul li.address .search_add a:active img{opacity:0;}
.admin .box ul li.address .search_add a:active .btn-hover{opacity:1;}
.admin .btn{bottom:20px;}

.layer{position:fixed;bottom:-280px;left:0;z-index:10;width:100%;height:212px;background:url('../images/bg_layer.png') repeat;box-sizing:border-box;transition:bottom .3s ease-in-out;}
.layer.on{bottom:0;}
.layer .btn_close{overflow:hidden;position:absolute;top:-40px;left:0;width:100%;height:40px;background:url('../images/btn_close.png') no-repeat center bottom;background-size:100% auto;text-indent:-9999em;outline:none;}
.layer.custom_color{padding:15px 15px;}
.layer.custom_color .colorpicker_input{position:absolute;top:0;left:-9999em;width:1px;height:1px;opacity:0;}
.layer.custom_pattern,
.layer.custom_graphic{height:180px;padding:35px 0;box-sizing:border-box;}
.layer .color-picker{position:relative;margin:0;padding:30px 0 0;background:none;border:0;border-radius:0;}
.layer .color-picker .spectrum{margin-top:0;border-radius:10px;box-shadow:none;}
.layer .color-picker .spectrum .pin{margin-left:-14px;margin-top:-14px;width:28px;height:28px;background:url('../images/icon_colorpick.png') no-repeat center center;background-size:100% 100%;border:0;box-shadow:none;}
.layer .color-picker .format,
.layer .color-picker .color{display:none;}
.layer .color-picker .spectrum > div{overflow:hidden;box-shadow:none;border-radius:10px;border:3px solid #e6e6e6;}
.layer .color-picker .luminosity{position:absolute;top:0;left:0;-webkit-appearance: none;margin:0;width: 100%;background:transparent;}
.layer .color-picker .luminosity:focus{outline: none;}
.layer .color-picker .luminosity::-webkit-slider-runnable-track{width: 100%;height: 20px;cursor: pointer;animate: 0.2s;box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;background:linear-gradient(to left, #fff , #000);border-radius: 25px;border:3px solid #e6e6e6;}
.layer .color-picker .luminosity::-webkit-slider-thumb{box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;border: 0px solid #000000;height: 22px;width: 22px;border-radius: 10px;background:url('../images/img_range.png') no-repeat center center;background-size:100% 100%;cursor: pointer;-webkit-appearance: none;margin-top: -4px;box-shadow:2px 2px 4px rgba(0,0,0,.2);}
.layer .minicolors-inline{display:block;width:100%;}
.layer .minicolors .minicolors-grid{width:100%;background:url('../images/bg_colorpicker.png') no-repeat center center;background-size:100% 100%;border-radius:10px;border:3px solid #e6e6e6;box-sizing:border-box;}
.layer .minicolors .minicolors-grid .minicolors-picker{margin-left:-14px;margin-top:-14px;width:28px;height:28px;background:url('../images/icon_colorpick.png') no-repeat center center;background-size:100% 100%;border:0;box-shadow:none;}
.layer .minicolors .minicolors-grid .minicolors-picker > div{display:none;}
.layer .minicolors-inline .minicolors-panel{width:100%;padding-right:30px;background:none;border:0;box-sizing:border-box;}
.layer .minicolors-inline .minicolors-panel .minicolors-slider{left:auto;right:0;background:url('../images/bg_colorselect.jpg') no-repeat center center;background-size:100% 100%;border-radius:20px;border:3px solid #e6e6e6;box-sizing:border-box;}
.layer .minicolors-inline .minicolors-panel .minicolors-slider .minicolors-picker{height: 22px;width: 22px;border-radius: 10px;border:0;background:url('../images/img_range.png') no-repeat center center;background-size:100% 100%;cursor: pointer;-webkit-appearance: none;box-shadow:2px 2px 4px rgba(0,0,0,.2);margin:-11px 0 0 -4px;}
.layer .slide_wrp{overflow-x:scroll;-webkit-overflow-scrolling:touch;}
.layer .slide_wrp::-webkit-scrollbar {display:none; width: 0 !important;background:transparent; }
.layer .slide_wrp::-webkit-scrollbar-thumb { display:none; background: transparent; }
.layer #colorpic{border-radius:5px;overflow:hidden;}
.layer #colorpic .ui-colorpicker .palette .cell{overflow:hidden;text-indent:-9999em;}
.layer #colorpic .ui-colorpicker{position:static;border:0;padding:0;background:none;}
.layer #colorpic .ui-colorpicker .palette{width:100%;}
.layer #colorpic .ui-colorpicker .palette .cell:hover{border-color:transparent !important;}
.layer #colorpic > table{width:100%;table-layout:fixed;}
.layer #colorpic > table tr td{position:relative;height:18px;padding:0;font-size:0;text-indent:-9999em;box-sizing:border-box;}
.layer #colorpic > table tr td.on:before{content:"";position:absolute;top:0;left:0;width:100%;height:100%;background:url('../images/icon_checked.png') no-repeat center center;background-size:12px 12px;box-sizing:border-box;}
.layer .slide_wrp ul{overflow:hidden;padding-bottom:50px;}
.layer .slide_wrp ul li{float:left;overflow:hidden;width:81px;height:81px;margin-left:15px;background:#fff;border-radius:81px;border:2px solid #ccc;box-sizing:border-box;transition:border .3s ease-in-out;}
.layer .slide_wrp ul li:first-child{margin-left:40px;}
.layer .slide_wrp ul li:last-child{margin-right:40px;}
.layer .slide_wrp ul li img{display:block;width:100%;}
.layer .slide_wrp ul li.on{border:4px solid #e93225;}
.layer.custom_texture{bottom:-120px;height:86px;padding:8px 0;}
.layer.custom_texture.on{bottom:0;}
.layer.custom_texture .txt_wrp .custom_txt{display:block;width:90%;height:34px;margin:0 auto 2px;padding:0;background:transparent;border:0;font-size:26px;color:#e93225;font-family: 'Superstar', sans-serif;text-align:center;outline:none;-webkit-appearance: none;}
.layer.custom_texture .txt_wrp{position:relative;}
.layer.custom_texture .txt_wrp img{display:block;width:300px;margin:0 auto;}
.layer dl dt{font-size:17px;color:#e93225;text-align:center;}
.layer dl dd{font-size:12px;color:#e93225;text-align:center;}
.mCSB_scrollTools.mCSB_scrollTools_horizontal{position:absolute;bottom:20px;left:10%;width:80%;opacity: 1 !important;}
.mCSB_draggerContainer{height:18px;}
.mCS-light-thick.mCSB_scrollTools_horizontal .mCSB_draggerRail{height:14px !important;margin:2px 0 !important;background:#e93225;border-radius:7px;box-shadow:inset 2px 2px 2px rgba(0,0,0,.2); }
.mCSB_draggerContainer .mCSB_dragger{height:18px !important;background:url('../images/img_scroll.png') no-repeat center center #fff;background-size:15px 15px;border-radius:18px;box-shadow:inset -1px -1px 1px rgba(0,0,0,.2), 2px 2px 4px rgba(0,0,0,.2);}
.mCSB_draggerContainer .mCSB_dragger .mCSB_dragger_bar{display:none;}
.scroll-x.scroll-scrollx_visible{position:absolute;bottom:10px;left:10%;width:80%;}
.scroll-x.scroll-scrollx_visible .scroll-element_track{height:14px;background:#e73225;border-radius:7px;box-shadow:inset 2px 2px 2px rgba(0,0,0,.2);}
.scroll-x.scroll-scrollx_visible .scroll-bar{position:absolute;top:-2px;left:0;height:18px;background:url('../images/img_scroll.png') no-repeat center center #fff;background-size:15px 15px;border-radius:18px;box-shadow:inset -1px -1px 1px rgba(0,0,0,.2), 2px 2px 4px rgba(0,0,0,.2);}

/* Popup */
.popup{display:none;position:fixed;top:0;left:0;z-index:1000;width:100%;height:100%;background:rgba(0,0,0,.5);}
.popup .pop-cont{overflow-y:auto;-webkit-overflow-scrolling:touch;position:absolute;top:20px;left:20px;right:20px;bottom:20px;}
.popup .btn-close{position:fixed;top:40px;right:40px;width:20px;height:20px;background:url('../images/btn_close2.png') no-repeat center center;background-size:100% 100%;text-indent:-9999em;}
.popup.pop-kit .pop-cont{display:table;position:static;width:100%;height:100%;text-align:center;box-sizing:border-box;}
.popup.pop-kit .pop-cont .txt{display:table-cell;position:relative;vertical-align:middle;}
.popup.pop-kit .pop-cont .txt .inner{position:relative;width:90%;margin:0 auto;}
.popup.pop-kit .pop-cont img{display:block;width:100%;}
.popup.pop-kit .pop-cont .txt .inner .btn-close{position:absolute;top:0;right:0;width:50px;height:50px;background:none;outline:none;}
.popup.pop-admin .txt_top{margin:65px 0 40px;}
.popup.pop-admin .txt_top img{display:block;width:250px;margin:0 auto;}
.popup.pop-admin .box{width:255px;margin:0 auto;}
.popup.pop-admin .box ul li{position:relative;margin-bottom:25px;padding-left:105px;}
.popup.pop-admin .box ul li strong{position:absolute;top:0;left:0;width:105px;height:40px;font-size:19px;color:#4c4c4c;text-transform:uppercase;text-align:left;line-height:43px;}
.popup.pop-admin .box ul li strong img{display:block;width:100%;}
.popup.pop-admin .box ul li .insert input{width:100%;height:40px;padding:5px 10px;border:1px solid #b5b5b5;box-sizing:border-box;-webkit-appearance: none;border-radius: 0;font-size:14px;color:#000;font-family: 'YD YGO550', sans-serif;text-align:center;}
.popup.pop-admin .box ul li .insert input::placeholder{color:#b5b5b5;}
.popup.pop-admin .box ul li .insert select{width:100%;height:34px;border:0;box-sizing:border-box;font-family: 'YD YGO550', sans-serif;text-align:center;}
.popup.pop-admin .box ul li .insert.select-box{position:relative;}
.popup.pop-admin .box ul li .insert.select-box .txt{position:relative;width:100%;height:34px;padding:7px 20px 0;background:#fff;border:0;box-shadow:inset 2px 2px 2px rgba(0,0,0,.1);box-sizing:border-box;font-size:14px;color:#000;text-align:center;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.popup.pop-admin .box ul li .insert.select-box .txt:after{content:"";position:absolute;top:50%;right:10px;width:9px;height:6px;margin-top:-3px;background:url('../images/btn_down.png') no-repeat center center;background-size:100% 100%;}
.popup.pop-admin .box ul li .insert.select-box select{position:absolute;top:0;left:0;z-index:2;width:100%;height:100%;opacity:0;filter:alpha(opacity=00);}
.popup.pop-admin .box .chk{position:relative;overflow:hidden;padding-top:15px;}
.popup.pop-admin .box .chk label{display:block;position:relative;height:20px;margin-bottom:10px;padding-top:2px;padding-left:20px;box-sizing:border-box;font-size:13px;color:#717171;letter-spacing:-1px;line-height:24px;}
.popup.pop-admin .box .chk label:before{content:"";position:absolute;top:50%;left:0;width:20px;height:20px;margin-top:-10px;background:#fff;border:1px solid #b5b5b5;}
.popup.pop-admin .box .chk label img{width:100%;}
.popup.pop-admin .box .chk input:checked + label:before{background:#dc2e26;}
.popup.pop-admin .box .chk input{position:absolute;top:0;left:-9999em;width:1px;height:1px;opacity:0;}
.popup.pop-admin .btn{position:static;width:255px;margin:30px auto;}
.popup.pop-collectagree .pop-cont{display:table;position:static;width:100%;height:100%;}
.popup.pop-collectagree .pop-cont .txt{display:table-cell;vertical-align:middle;}
.popup.pop-collectagree .pop-cont .txt .inner{position:relative;width:90%;margin:0 auto;padding:30px 0 20px;background:url('../images/img_pop_bg.jpg') no-repeat center center;background-size:cover;}
.popup.pop-collectagree .pop-cont .txt .inner img{display:block;width:100%;}
.popup.pop-collectagree .pop-cont .txt .inner .textarea{overflow-y:auto;-webkit-overflow-scrolling:touch;width:90%;height:340px;margin:20px auto;padding:10px;background:#fff;border:1px solid #e93225;box-sizing:border-box;font-size:14px;}
.popup.pop-collectagree .pop-cont .txt .inner .textarea h2{font-size:16px;}
.popup.pop-collectagree .pop-cont .txt .inner .textarea table{width:100%;font-size:11px;font-weight:100;}
.popup.pop-collectagree .pop-cont .txt .inner .textarea table tr th{padding:5px;background:#f4f4f4;border:1px solid #ccc;vertical-align:middle;text-align:left;}
.popup.pop-collectagree .pop-cont .txt .inner .textarea table tr td{padding:5px;border:1px solid #ccc;vertical-align:middle;text-align:left;}
.popup.pop-collectagree .pop-cont .txt .inner .checkbox-area{width:80%;margin:0 auto;position:relative;overflow:hidden;}
.popup.pop-collectagree .pop-cont .txt .inner .checkbox-area label{display:block;position:relative;height:20px;margin-bottom:10px;padding-left:20px;font-size:13px;color:#717171;letter-spacing:-1px;line-height:24px;}
.popup.pop-collectagree .pop-cont .txt .inner .checkbox-area label:before{content:"";position:absolute;top:50%;left:0;width:20px;height:20px;margin-top:-10px;background:#fff;border:1px solid #e93225;}
.popup.pop-collectagree .pop-cont .txt .inner .checkbox-area label img{width:100%;}
.popup.pop-collectagree .pop-cont .txt .inner .checkbox-area input:checked + label:before{background:url('../images/btn_chk.jpg');background-size:100% 100%;}
.popup.pop-collectagree .pop-cont .txt .inner .checkbox-area input{position:absolute;top:0;left:-9999em;width:1px;height:1px;opacity:0;}
.popup.pop-collectagree .pop-cont .txt .inner .btn-close{position:absolute;top:10px;right:10px;width:30px;height:30px;background:url('../images/btn_close3.png') no-repeat center center;background-size:100% 100%;}

/* 커스텀 레이어 */
.layer-disabled .info_layer{display:none;position:fixed;top:0;left:0;z-index:10000;width:100%;height:100%;background:rgba(0,0,0,.5);}
.layer-disabled .info_layer .table{display:table;width:100%;height:100%;text-align:center;}
.layer-disabled .info_layer .pic{display:table-cell;width:100%;vertical-align:middle;}
.layer-disabled .info_layer .pic img{display:block;width:80%;margin:0 auto;}

/* Loading */
.loading{display:none;position:fixed;top:0;left:0;z-index:1000;width:100%;height:100%;background:rgba(255,255,255,.6);}
.loading p{position:absolute;top:50%;left:0;width:100%;margin-top:-5px;}
.loading p:after{content:"";position:absolute;top:50%;left:50%;width:50px;height:50px;margin:-25px 0 0 -25px;background:url('../images/icon_loading.png') no-repeat center center;background-size:100% 100%;animation:spin 1s linear infinite;}
.loading p img{display:block;height:10px;margin:0 auto;}

@keyframes spin {
	0%{transform:rotate(0deg);}
	100%{transform:rotate(360deg);}
}


/* =================================================
	* Media Query
================================================= */
@media only screen and (max-width:375px) {
	.capture{}
}
@media only screen and (max-width:370px) {
	.layer .slide_wrp .bx-viewport li{padding:0 15px;}
	.layer .slide_wrp .bx-viewport li a{width:60px;}
	.layer .slide_wrp .bx-viewport li .list.on a:after{width:68px;height:68px;}
	.layer .slide_wrp .bx-viewport li a img{width:60px;}
	.layer textarea{height:184px;font-size:95px;}
	.layer.custom_texture .txt_wrp:before{height:189px;}
}